<mat-form-field class="flex" [formGroup]="fg">
    <label class="radio-button-label" *ngIf="label">{{ label }}</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" [color]="color" 
        [formControlName]="control" class="flex display-{{orientation}}" 
        [required]="required" [disabled]="disabled">
        <mat-radio-button *ngFor="let button of buttonValues" [value]="button.value">
            {{ button.description }}
        </mat-radio-button>
    </mat-radio-group>
</mat-form-field>