<div class="h-100">
    <mat-card class="h-100">
        <mat-slide-toggle class="btn-logout" [(ngModel)]="logged" (change)="logout()">{{ userName }}</mat-slide-toggle>
    
        <mat-card-title>Calls</mat-card-title>    
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
                
                <ng-container matColumnDef="action_id">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element"> {{element.action_id[1]}} </td>
                </ng-container>
            
                <ng-container matColumnDef="company_id">
                    <th mat-header-cell *matHeaderCellDef>Company</th>
                    <td mat-cell *matCellDef="let element"> {{element.company_id[1]}} </td>
                </ng-container>
            
                <ng-container matColumnDef="partner_id">
                    <th mat-header-cell *matHeaderCellDef>Contact</th>
                    <td mat-cell *matCellDef="let element"> {{element.partner_id[1]}} </td>
                </ng-container>
        
                <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef>User</th>
                    <td mat-cell *matCellDef="let element"> {{element.user_id[1]}} </td>
                </ng-container>
        
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
            </table>
        </mat-card-content>
    
    </mat-card>
</div>

<button class="new-call" mat-mini-fab color="warn" (click)="openNewCall()">+</button>