.company_container {
    display: flex;

    & > div {
        width: 50%;

        &:last-child {
            margin-left: 10px;
        }
    }

    &__city-info {
        display: flex;

        & > div {
            width: 30%;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;

            & > div {
                width: 100%;
            }

            margin-right: 0;
        }
    }

    @media screen and (max-width: 560px) {
        flex-direction: column;

        & > div {
            width: 100%;
            
            &:last-child {
                margin-left: 0;
            }
        }
    }

}